<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885871119008-fu4evflnc5cplkp7n9sg5boa61f2f45j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885871119008-fu4evflnc5cplkp7n9sg5boa61f2f45j</string>
	<key>API_KEY</key>
	<string>AIzaSyAeRFBwQ2lPCK9kyLNpuo9_Wv2xzcQ7ie4</string>
	<key>GCM_SENDER_ID</key>
	<string>885871119008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventApp</string>
	<key>PROJECT_ID</key>
	<string>event-app-c9418</string>
	<key>STORAGE_BUCKET</key>
	<string>event-app-c9418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885871119008:ios:2862d7a653c340137857c5</string>
</dict>
</plist>